

.navbar-logo{
  font-family: var(--font-family);
  font-size: 27px;
  font-weight: 700;
  color: #280d5f;
}

.flex_navbar{
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  margin-left: 1rem;
  margin-top: 0.2rem;
  color:#000000;
  
} 

.flex_navbar:hover{
  
}
.btn-color{
  background-color: #1fc7d4;
  border: #1fc7d4;
  font-family: var(--font-family);
  font-weight: 400;
  border-width: 0.1rem;
  font-size: 16px;
}

.btn-color:hover{
  background-color: #3bd9e4;
  border: #3bd9e4;
}

