body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7fbff;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(90deg, rgba(94, 56, 191, 1) 0%, rgba(0, 188, 212, 1) 100%, rgba(94, 56, 191, 1) 100%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg:#e7fbff;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text:#7a6eaa;
  --color-subtext: #FF8A71;
}
